w6/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="BO" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="B" maxOccurs="unbounded" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int" />
                            <xs:element name="n" type="xs:string"/>
                            <xs:element name="nop" type="xs:int" />
                            <xs:element name="aut" type="xs:string"/>
                            <xs:element name="p" type="xs:int" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>